.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.addNewShortcut {
    position: absolute;
    right: 10px;
    top: 10px;
}

.actionsContainer {
    display: flex;
}

.deleteButton {
    margin-right: 'auto';
}