.shortcuts {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.buttonContainer {
    position: absolute;
    right: 0;
    top: 60px;
}

.actionsContainer {
    display: flex;
}

.deleteButton {
    margin-right: 'auto';
}

.card {
    display: block;
  width: 250px;
  margin: 20px;
}

.card_media {
    width: 300px;
    height: 130px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.text_field {
    color: #FFf;
}