.shortcuts {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.buttonContainer {
    position: absolute;
    right: 0;
    top: 60px;
}

.actionsContainer {
    display: flex;
}

.deleteButton {
    margin-right: 'auto';
}